.problems {
  padding: 10px 40px 40px 40px;
  .content {
    border: 1px solid #eee;
    background: #eeeeee;
    border-radius: 16px;
    padding: 20px 40px;
    margin-top: 30px;
  }
  .pre {
    white-space: pre-line;
    margin-top: 40px;
  }
}