.hot-goods {
  border-radius: 30px 30px 0 0;
  min-height: calc(100% - 665px);
  overflow: hidden;
  margin-top: 20px;
  flex-grow: 2;
  background:#eee;
  .hot-goods-header {
    height: 80px;
    padding: 0 30px;
    background: #fff;
    .hot-goods-more {
      font-size: 22px;
      color: #757575
    }
  }
  .hot-goods-container {
    width: 100%;
    .hot-good-item {
      width: calc((100% - 120px)/3);
      margin: 20px 20px 0 20px;
      padding: 15px;
      border-radius: 16px;
      .good-img {
        width: 100%;
        height: 150px;
        border-radius: 8px;
      }
      .good-title {
        margin-top: 10px;
      }
    }
  }
  .hot-goods-endline {
    padding: 60px 0;
    color: #757575
  }
}