.hot-goods {
  border-radius: 30px 30px 0 0;
  min-height: calc(100% - 665px);
  overflow: hidden;
  margin-top: 30px;
  flex-grow: 1;
  background: #eee;
  .hot-goods-header {
    height: 80px;
    padding: 0 30px;
    background: #fff;
    .hot-goods-more {
      font-size: 22px;
      color: #757575
    }
  }
  .hot-goods-container {
    .hot-good-item {
      width: 28%;
      margin-top: 20px;
      height: 150px;
      border-radius: 16px;
      .good-img {
        width: 120px;
        height: 80px;
      }
      .good-label {
        margin-top: 10px;
      }
    }
  }
  .hot-goods-endline {
    padding: 60px 0;
    color: #757575
  }
}