.post-address {
  height: 100vh;
  background: #eee;
  padding: 15px 15px 100px 15px;
  overflow-x: hidden;
  overflow-y: auto;
  .card {
    border-radius: 30px;
    padding: 20px;
    margin-top: 15px;
  }
  .photo-info {
    .photo-info-item {
      margin-top: 5px;
    }
  }
  .preview-box {
    padding: 10px;
    .photo-preview {
      width: 200px;
      height: 240px;
      border: 1px solid red
    }
  }
  .pay-express {
    .pay {
    }
    .express {
      margin-top: 10px;
    }
    .img {
      width: 50px;
      height: 50px
    }
    .label {
      margin-right: 20px;
    }
    .value {
      width: 200px
    }
  }
  .address-form {
    // padding: 20px 30px;
    margin-top: 20px;
    .region-selected {
      margin-left: 20px;
    }
    picker {
      padding: 0 32px
    }
    .at-list__item {
      padding: 16px 0
    }
    .at-input__input {
      font-size: 24px;
    }
    .at-input__title .at-input__title--required {
      font-size: 28px;
    }
  }
  .bottom-bar {
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // padding: 20px;
    margin-top: 20px;
    // border-top: 1px solid #eee;
    // background: #eaeaea;
    // background: #ffffff;
    // z-index: 10;
    .at-button {
      margin: 0
    }
  }
  .photo-info-icon {
    width: 30px;
    height: 30px;
  }
  .photo-info-label {
    margin-left: 10px;
  }
  // .at-input {
  //   padding: 16px 0;
  //   input, .at-input__title {
  //     font-size: 24px;
  //   }
  // }
  .picker-view-indicator {
    height: 70px;
    line-height: 70px;
  }
  .picker-column {
    line-height: 70px
  }
}