.photo-detail {
  background: #eee;
  overflow: hidden;
  padding: 30px 20px;
  height: 100vh;
  .take-pic-tip {
    height: 380px;
    border-radius: 20px;
    padding: 0 20px;
    .preview {
      width: 200px;
      height: 300px;
      border-radius: 16px;
    }
    .take-pic-desc {
      padding: 40px 20px;
      flex-grow: 1;
      height: 100%;
      .desc-item {
        .icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .item {
          margin-left: 10px;
        }
      }
    }
  }

  .photo-info {
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
    .desc {
      margin-top: 20px;
      .item {
        margin-top:10px;
        .color {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
  }

  .photo-detail-handles {
    height: 200px;
    position: fixed;
    bottom: 0;
    width: 100%;
    .button {
      width: 300px
    }
  }
}