.my-address {
  padding: 40px;
  .content {
    background: linear-gradient(to left, rgb(33, 147, 176), rgb(109, 213, 237));
    border-radius: 16px;
    padding: 20px 40px;
  }
  .pre {
    white-space: pre-line;
    margin-top: 40px;
  }
}