@import '../../../../global.scss';
.generate-order {
  .tabs {
    height: 60px;
    .tab-item {
      width: 50%;
      .label {
        height: 60px;
        padding: 0 20px;
        font-size: 32px;;
      }
    }
    .tab-item-active {
      color: $global-bg;
      border-bottom: 4px solid $global-bg
    }
  }
  .photo-info {
    padding: 20px;
    // height: 200px;
    border-bottom: 1px solid #eee;
    .photo-preview {
      width: 200px;
      height: 300px;
    }
    .infos {
      padding-left: 40px;
      .select-bg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 20px;
      }
    }
  }
  .more-service {
    padding: 20px;
    .check-default {
      font-size: 36px;
      color: #b5b5b5;
      margin-left: 10px;
      font-weight: bold;
    }
    .checked {
      font-size: 36px;
      color: $global-bg;
      margin-left: 10px;
      font-weight: bold;
    }
  }
  .at-button {
    margin: initial
  }
}