@import '../../global.scss';
.generatePhoto-container {
  height: 100vh;
  background: #eee;
  .preview-box {
    min-height: 400px;
    padding: 40px;
    // border-radius: 30px;
  }
  .change-handles {
    padding: 60px;
    .generatephoto-icon {
      width: 40px;
      height: 40px;
    }
    .generatephoto-label {
      margin-left: 20px;
      color: $global-bg;
    }
    .generatephoto-colors {
      margin-top: 80px;
      .color-item {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        box-shadow: 0px 5px 10px 10px rgba(85, 85, 85, 0.1);
        border: 1px solid #eee;
      }
    }
    .change-handles-btn {
      margin-top: 80px;
    }
  }
}