@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/float-layout.scss";

view {
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%
}

.flex {
  display: flex
}

.flex1 {
  flex: 1
}

.flex-wrap {
  flex-wrap: wrap;
}

.fd-c {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.jc-ad {
  justify-content: space-around;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.ai-fe {
  align-items: flex-end;
}

.p-r {
  position: relative;
}

.p-a {
  position: absolute
}

.bg-fff {
  background: #fff;
}

.c-fff {
  color: #fff
}