@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/float-layout.scss";
@import "~taro-ui/dist/style/components/form.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/toast.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/badge.scss";
@import "~taro-ui/dist/style/components/tabs.scss";

@import'./global.scss';

view {
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%
}

.flex {
  display: flex
}

.flex1 {
  flex: 1
}

.flex-wrap {
  flex-wrap: wrap;
}

.fd-c {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.jc-ad {
  justify-content: space-around;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.ai-fe {
  align-items: flex-end;
}

.ai-fs {
  align-items: flex-start;
}

.p-r {
  position: relative;
}

.p-a {
  position: absolute
}

.bg-fff {
  background: #fff;
}

.c-fff {
  color: #fff
}

.c-333 {
  color: #333333
}

.c-ff5722 {
  color: #ff5722
}

.c-main {
  color: #4ca3e2
}

.ft28 {
  font-size: 28px
}

.ft24 {
  font-size: 24px
}

.ft20 {
  font-size: 20px
}

.text-center {
  text-align: center;
}