@import '../../../../global.scss';
.hot-nav {
  height: 100%;
  .nav-item {
    height: 60px;
    margin-top: 20px;
    .nav-default-box {
      height: 40px;
      width: 10px;
      flex-basis: 10px;
    }
    .nav-selected-bg {
      // background: $global-bg;
      background: rgb(4, 99, 143, 0.7);
    }
    .nav-label {
      flex: 1;
      padding-left: 10px;
      color: #333
    }
    .nav-label-selected {
      // color: $global-bg
      color: rgb(4, 99, 143, 0.7)
    }
  }
}